@import "base";
@import "cgit";

.filter-repos {
  .btn {
    height: 1.9rem;
  }
}

div#cgit {
  padding: 0;
  font-size: inherit;

  table.tabs {
    margin-top: 0;
    border-bottom: 3px solid #ddd;

    td a {
      margin: 0 0.2rem;
      padding: 0 1rem 3px 1rem;
      font-size: inherit;
      border-width: 1px 1px 0px 1px;
      border-color: transparent;
      border-style: solid;
      text-decoration: none;

      &.active {
        background-color: #ddd;
      }

      &:hover, &.active {
        border-color: #ddd;
      }
    }

    input[type="text"] {
      border-width: 1px;
      border-style: solid;
      width: 8rem;
      padding: 0 0;
    }
  }

  div.path {
    background-color: #ddd;
    padding-top: 0;
  }

  // Recolor links
  a, table.list td a.ls-dir {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  pre {
    font-size: 0.8rem;
  }
}
