*.pyc
bin/
config.ini
alembic.ini
include/
local/
lib/
static/
*.swp
*.rdb
storage/
pip-selfcheck.json
.sass-cache/
overrides/
.pgp
build
*_gen.go
git.sr.ht-api
git.sr.ht-dispatch
git.sr.ht-keys
git.sr.ht-http-clone
git.sr.ht-shell
git.sr.ht-update-hook
api/graph/api/generated.go
