#
# git.sr.ht config

[server]
#
# Specifies the protocol (usually http or https) meta.sr.ht runs with.
protocol=http
#
# Specifies the domain name meta.sr.ht is running on.
domain=localhost:5001
#
# A secret key to encrypt session cookies with.
secret-key=CHANGEME

[debug]
#
# Address and port to bind the debug server to.
debug-host=0.0.0.0
debug-port=5001

[sr.ht]
#
# Configures the SQLAlchemy connection string for the database.
connection-string=postgresql://postgres@localhost/git.sr.ht
#
# The name of your network of sr.ht-based sites
site-name=sr.ht

[network]
#
# Location of other sites in your network
#
# This isn't a hardcoded list, add or remove entries as you like. The upstream
# sites do know about each other and will omit integrations if you leave out
# the relevant site. Only meta is required.
meta=http://meta.sr.ht.local
git=http://git.sr.ht.local
builds=http://builds.sr.ht.local

[cgit]
remote=http://cgit.local
repos=/var/lib/git/

#
# The authorized keys hook uses this to dispatch to various handlers
# The format is a program to exec into as the key, and the user to match as the
# value. When someone tries to log in as this user, this program is executed
# and is expected to omit an AuthorizedKeys file.
[dispatch]
/usr/bin/git-srht-keys=git:git
# Uncomment to enable the man.sr.ht dispatcher:
#/usr/bin/man-srht-keys=man:man

[git.sr.ht]
post-update-script=/usr/bin/git-srht-update-hook

[meta.sr.ht]
#
# Register an OAuth client for meta.sr.ht and fill in these details with it
oauth-client-id=
oauth-client-secret=

[builds.sr.ht]
#
# Fill this in with the oauth client ID builds.sr.ht uses for builds.sr.ht
# integration
oauth-client-id=
