{% extends "git.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <a href="/{{ owner.canonical_name }}">{{ owner.canonical_name }}</a>/{{ repo.name }}
        <small class="text-muted">
        {% if repo.visibility.value != "public" %}
          {{ repo.visibility.value }}
        {% endif %}
        </small>
        <small class="repo-nav">
        {% if has_access(repo, UserAccess.manage) %}
          <a href="/{{ owner.canonical_name }}/{{ repo.name }}/settings/info">Settings</a>
        {% endif %}
        </small>
      </h2>
    </div>
  </div>
</div>
{{ cgit_html | safe }}
{% endblock %}
