{% extends "repo.html" %}
{% block tabs %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active">summary</a>
  </li>
  {% if current_user.id == repo.owner_id %}
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{url_for("manage.settings_info",
        owner_name=repo.owner.canonical_name,
        repo_name=repo.name)}}"
    >settings</a>
  </li>
  {% endif %}
</ul>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-md-4">
      <h3>clone</h3>
      <dl>
        <dt>read-only</dt>
        <dd><a href="{{clone_urls[0]}}">{{clone_urls[0]}}</a></dd>
        <dt>read/write</dt>
        <dd>{{clone_urls[1]}}</dd>
      </dl>
    </div>
    <div class="col-md-8">
      <p>
        Nothing here yet!
      </p>
    </div>
  </div>
</div>
{% endblock %}
