{% extends "git.html" %}
{% block content %}
<div class="container">
  <div class="row">
    {% if current_user %}
    <div class="col-md-4">
      <p>
        Welcome back, {{ current_user.username }}!
      </p>
      <p>
        <a href="/create">Create new repository »</a>
      </p>
    </div>
    <div class="col-md-6">
      {% if repos and len(repos) %}
      {% for repo in repos %}
        <h4>
          <a href="/~{{current_user.username}}/{{repo.name}}">
            ~{{current_user.username}}/{{repo.name}}
          </a>
        </h4>
        {% if repo.description %}
        <p>{{ repo.description }}</p>
        {% endif %}
        <p>
          <em class="text-muted">Last updated {{ repo.updated | date }}</em>
        </p>
      {% endfor %}
      More on <a href="/~{{current_user.username}}">your profile »</a>
      {% endif %}
    </div>
    {% else %}
    <div class="col-md-6">
      <p>
        Welcome to {{cfg("server", "domain")}}. This is a part of the
        <a href="{{cfg("network", "meta")}}">
          {{cfg("sr.ht", "site-name")}} network
        </a>
        and provides git hosting services to members. If you already have an
        account, you can <a href="{{oauth_url}}">log in here</a>. New users can
        <a href="{{cfg("network", "meta")}}">register here</a>.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
