{% extends "repo.html" %}
{% import "utils.html" as utils with context %}
{% block title %}
<title>{{repo.owner.canonical_name}}/{{repo.name}}: {% if path != [''] %}{{path_join(*path)}} {% endif %}{{ref}} - {{cfg("sr.ht", "site-name")}} git</title>
{% endblock %}

{% block head %}
  <link rel="alternate"
    title="{{ repo.owner.canonical_name }}/{{ repo.name }}: {{ ref }} log"
    type="application/rss+xml"
    href="{{ root }}{{ repo|log_rss_url(ref=ref) }}">
{% endblock %}

{% block tabs_extra %}
  <li class="flex-grow-1 d-none d-sm-block"></li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link active" href="{{ repo|log_rss_url(ref=ref) }}">
      {{ icon('rss', cls='sm') }} RSS
    </a>
  </li>
{% endblock %}

{% block content %}
{% if path != [''] %}
<div class="header-extension">
  <div class="container">
    <span style="padding-left: 1rem">
      {{ utils.breadcrumb(ref, repo, path, entry, view, path_join, stat, pygit2, humanize) }}
    </span>
    <div class="clearfix"></div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="event-list">
        {% set full_path = path_join(*path) %}
        {% for c in commits %}
        <div class="event">
          {{ utils.commit_event(repo, c, True, refs, path=full_path) }}
        </div>
        {% else %}
        <div class="event">
          No commits{% if path != [''] %} for this path{% endif %}.
        </div>
        {% endfor %}
      </div>
      {% if commits and commits[-1].parents %}
      <a
        class="pull-right btn btn-primary"
        href="{{url_for("repo.log",
          owner=owner.canonical_name,
          repo=repo.name,
          ref=ref,
          path=full_path,
        )}}?from={{commits[-1].id}}"
      >Next {{icon("caret-right")}}</a>
      {% endif %}
    </div>
</div>
{% endblock %}
