{% extends "repo.html" %}
{% import "utils.html" as utils %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="event-list">
        {% for c in commits[:-1] %}
        <div class="event">
          {{ utils.commit_event(repo, c, commit_time, None, True, refs) }}
        </div>
        {% endfor %}
      </div>
      <a
        class="pull-right btn btn-primary"
        href="{{url_for("repo.log",
          owner=owner.canonical_name,
          repo=repo.name,
          ref=ref,
          path=path,
        )}}?from={{commits[-1].id}}"
      >Next {{icon("caret-right")}}</a>
    </div>
</div>
{% endblock %}
