{% extends "repo.html" %}
{% import "utils.html" as utils with context %}
{% block title %}
<title>{{repo.owner.canonical_name}}/{{repo.name}} refs - {{cfg("sr.ht", "site-name")}} git</title>
{% endblock %}

{% block head %}
  <link rel="alternate"
    title="{{ repo.owner.canonical_name }}/{{ repo.name }} refs"
    type="application/rss+xml"
    href="{{ root }}{{ repo|refs_rss_url }}">
{% endblock %}

{% block tabs_extra %}
  <li class="flex-grow-1 d-none d-sm-block"></li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link active" href="{{ repo|refs_rss_url }}">
      {{ icon('rss', cls='sm') }} RSS
    </a>
  </li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="event-list">
        {% for tag in tags %}
        {% set ref = tag[0] %}
        {% set tag = tag[1] %}
        {% if isinstance(tag, pygit2.Commit) %}
        {% set commit = tag %}
        {% else %}
        {% set commit = git_repo.get(tag.target) %}
        {% endif %}
        <div class="event">
          <h4 style="margin-bottom: 0.5rem">
            {% if isinstance(tag, pygit2.Commit) %}
            {% set refname = commit.id.hex %}
            {{ref[len("refs/tags/"):]}}
            {% else %}
            {% set refname = tag.name %}
            <a href="{{url_for("repo.ref",
                owner=repo.owner.canonical_name,
                repo=repo.name,
                ref=tag.name)}}">
              {{tag.name}}
            </a>
            {% endif %}
            <small class="pull-right text-muted">
              {{commit_time(tag) | date}}
              <a
                style="margin-left: 0.5rem"
                href="{{url_for("repo.archive",
                  owner=repo.owner.canonical_name,
                  repo=repo.name, ref=refname)}}"
                rel="nofollow"
              >.tar.gz {{icon("caret-right")}}</a>
              <a
                style="margin-left: 0.5rem"
                href="{{url_for("repo.tree",
                  owner=repo.owner.canonical_name,
                  repo=repo.name, ref=refname)}}"
              >browse {{icon("caret-right")}}</a>
              <a
                style="margin-left: 0.5rem"
                href="{{url_for("repo.log",
                  owner=repo.owner.canonical_name,
                  repo=repo.name, ref=refname)}}"
              >log {{icon("caret-right")}}</a>
            </small>
          </h4>
          {% if tag.message %}
          <pre style="padding-bottom: 0;">{{tag.message}}</pre>
          {% endif %}
        </div>
        {% endfor %}
        {{ pagination() }}
      </div>
    </div>
    <div class="col-md-4">
      <h3>Branches</h3>
      <div class="event-list">
        {% for branch in branches %}
        {% set name = branch[0] %}
        {% set commit = branch[2] %}
        {% set branch = branch[1] %}
        <div class="event">
          {{name}}
          {{ utils.commit_event(repo, commit, skip_body=True) }}
          <div class="row" style="margin-top: 0.5rem">
            <div class="col">
              <a
                href="{{url_for("repo.tree",
                  owner=repo.owner.canonical_name,
                  repo=repo.name, ref=name)}}"
                class="btn btn-block {{ "btn-primary"
                  if branch.name == git_repo.default_branch().name
                  else "btn-default" }}"
              >browse {{icon("caret-right")}}</a>
            </div>
            <div class="col">
              <a
                href="{{url_for("repo.log",
                  owner=repo.owner.canonical_name,
                  repo=repo.name, ref=name)}}"
                class="btn btn-block btn-default"
              >log {{icon("caret-right")}}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
