{% extends "layout.html" %}
{% block head %}
{% if repo.visibility.value =='unlisted' %}
<meta name="robots" content="noindex">
{% endif %}
{# Man, this is lame #}
<meta name="go-import"
  content="{{domain}}/{{owner.canonical_name}}/{{repo.name}} git {{(repo | clone_urls)[0]}}">
<meta name="go-source"
  content="{{domain}}/{{owner.canonical_name}}/{{repo.name}} {{(repo | clone_urls)[0]}}
           {{(repo | clone_urls)[0]}}/tree/master{/dir}
           {{(repo | clone_urls)[0]}}/tree/master{/dir}/{file}#L{line}">
{% endblock %}
{% block body %}
<div class="header-tabbed">
  {% if view == "blob" %}
  <div class="container-fluid">
  {% else %}
  <div class="container">
  {% endif %}
    {% block tabs %}
    {% macro link(path, title, alternates) %}
    <a
      class="nav-link {% if view == title or view in alternates %}active{% endif %}"
      href="{{ path }}">{{ title }}</a>
    {% endmacro %}
    <ul class="nav nav-tabs">
      <h2>
        <a href="{{ url_for("public.user_index",
          username=owner.username) }}"
        >{{owner.canonical_name}}</a>/{{repo.name}}
        {% if repo.visibility.value != 'public' %}
        <small class="text-muted">{{repo.visibility.value}}</small>
        {% endif %}
      </h2>
      <li class="nav-item">
        {{link(url_for("repo.summary",
          owner=repo.owner.canonical_name,
          repo=repo.name), "summary")}}
      </li>
      <li class="nav-item">
        {{link(url_for("repo.tree",
          owner=repo.owner.canonical_name,
          repo=repo.name), "tree", ["blob"])}}
      </li>
      <li class="nav-item">
        {{link(url_for("repo.log",
          owner=repo.owner.canonical_name,
          repo=repo.name), "log")}}
      </li>
      <li class="nav-item">
        {{link(url_for("repo.refs",
          owner=repo.owner.canonical_name,
          repo=repo.name), "refs")}}
      </li>
      <li class="nav-item">
        {{link(url_for("stats.contributors",
          owner=repo.owner.canonical_name,
          repo=repo.name), "contributors")}}
      </li>
      {% if current_user.id == repo.owner_id %}
      <li class="nav-item">
        {{link(url_for("manage.settings_info",
          owner_name=repo.owner.canonical_name,
          repo_name=repo.name), "settings")}}
      </li>
      {% endif %}
      {% block tabs_extra %}{% endblock %}
    </ul>
  </div>
{% endblock %}
</div>
{% block content %}{% endblock %}
{% endblock %}
