{% extends "repo.html" %}
{% block content %}
<div class="container">
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-md-6">
      <div class="event-list" style="margin-bottom: 0.5rem">
        <div class="event">
          <div>
            <a href="#">emersion</a>
            <a href="#">&lt;contact@emersion.fr&gt;</a>
            <span class="text-muted">committed</span>
            <a href="#">ac28d701c</a>
            <span class="text-muted">14 hours ago</span>
          </div>
          <pre
            style="padding-left: 0; padding-right: 0; background: transparent"
          >buffer: disconnect clients that commit an unknown buffer type</pre>
        </div>
        <div class="event">
          <div>
            <a href="#">emersion</a>
            <a href="#">&lt;contact@emersion.fr&gt;</a>
            <span class="text-muted">committed</span>
            <a href="#">ac28d701c</a>
            <span class="text-muted">14 hours ago</span>
          </div>
        </div>
        <div class="event">
          <div>
            <a href="#">emersion</a>
            <a href="#">&lt;contact@emersion.fr&gt;</a>
            <span class="text-muted">committed</span>
            <a href="#">ac28d701c</a>
            <span class="text-muted">14 hours ago</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h3>refs</h3>
      <dl>
        <dt>master</dt>
        <dd>
          <a href="#">log {{icon("caret-right")}}</a>
          <a href="#">browse {{icon("caret-right")}}</a>
        </dd>
        <dt>v1.0</dt>
        <dd>
          <a href="#">log {{icon("caret-right")}}</a>
          <a href="#">.tar.gz {{icon("caret-right")}}</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4">
      <h3>clone</h3>
      <dl>
        <dt>read-only</dt>
        <dd><a href="#">https://git.sr.ht/~sircmpwn/wlroots</a></dd>
        <dt>read/write</dt>
        <dd>git@git.sr.ht/~sircmpwn/wlroots</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      {{ rm | extended_md }}
    </div>
  </div>
</div>
{% endblock %}
