{% extends "repo.html" %}
{% block content %}
<div class="header-extension">
  <div class="container-fluid">
    <span style="padding-left: 1rem">
      {% if path != [''] %}
      <a href="{{url_for("repo.tree",
        owner=repo.owner.canonical_name, repo=repo.name, branch=branch_name)}}"
      >{{repo.name}}</a>{% endif %}/{% for part in path%}{%
        if loop.last %}{{part}}{% else %}<a
          href="{{url_for("repo.tree", owner=repo.owner.canonical_name,
            repo=repo.name, branch=branch_name,
            path=path_join(*path[:loop.index]))}}"
        >{{part}}</a>/{%
      endif %}{% endfor %}
    </span>
    <div class="pull-right">
      <a href="#">{{commit.id.hex[:8]}}</a> &mdash;
      <a href="#">{{commit.author.name}}</a>:
      {{trim_commit(commit.message)}}
      <span class="text-muted">
        {{ commit_time(commit) | date }}
      </span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-md-12">
      <div class="tree-list">
      {% if path != [''] %}
      <div class="mode"></div>
      <div class="name tree">
        <a href="{{url_for("repo.tree",
          owner=repo.owner.canonical_name, repo=repo.name, branch=branch_name,
          path=path_join(*path[:-1]) if path[:-1] else None)}}">..</a>
      </div>
      <div class="commit"></div>
      <div class="date"></div>
      <div class="size"></div>
      {% endif %}
      {% for entry in tree %}
      <div class="mode">
        <span title="{{"{0:0o}".format(entry.filemode)}}">
          {{stat.filemode(entry.filemode)}}
        </span>
      </div>
      <div class="name {{entry.type}}">
        <a href="{{url_for("repo.tree",
          owner=repo.owner.canonical_name, repo=repo.name, branch=branch_name,
          path=path_join(*(path + [entry.name])))}}"
        >
          {{entry.name}}{% if entry.type == "tree" %}/{% endif %}
        </a>
      </div>
      <div class="commit">
        {% if entry.commit %}
        <a href="#">{{trim_commit(entry.commit.message)}}</a>
        {% endif %}
      </div>
      <div class="date">
        {% if entry.commit %}
        {{ commit_time(entry.commit) | date }}
        {% endif %}
      </div>
      <div class="size">
        {% if entry.type == "blob" %}
        <span title="{{ entry.blob.size }} bytes">
          {{humanize.naturalsize(entry.blob.size,
            binary=True).replace("Byte", "byte")}}
        </span>
        {% endif %}
      </div>
      {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
