{% extends "git.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-4">
      <h2>
        ~{{ user.username }}
      </h2>
      {% if profile %}
      {% if profile.get("location") %}
      <p>{{profile["location"]}}</p>
      {% endif %}
      {% if profile.get("url") %}
      <p>
        <a href="{{profile["url"]}}" target="_blank">
          {{profile["url"]}}
        </a>
      </p>
      {% endif %}
      {% if profile.get("bio") %}
      <p>{{profile["bio"]}}</p>
      {% endif %}
      {% endif %}
      {% if notice %}
      <div class="alert alert-success">
        {{ notice }}
      </div>
      {% endif %}
      {% if current_user and current_user.id == user.id %}
        <a href="{{cfg("network", "meta")}}/profile">Edit your profile »</a>
      {% endif %}
    </section>
    <section class="col-md-8">
      {% if len(repos) == 0 %}
      <p>This user has no repositories.</p>
      {% else %}
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      {% for repo in repos %}
        <h4>
          <a href="/~{{user.username}}/{{repo.name}}">
            ~{{user.username}}/{{repo.name}}
          </a>
          {% if repo.visibility.value != 'public' %}
          <small class="text-muted">
            <em>{{ repo.visibility.value }}</em>
          </small>
          {% endif %}
        </h4>
        {% if repo.description %}
        <p>{{ repo.description }}</p>
        {% endif %}
        <p>
          <em class="text-muted">Last updated {{ repo.updated | date }}</em>
        </p>
      {% endfor %}
      {% endif %}
      {% if total_pages > 1 %}
      <div class="row">
        <div class="col-md-4">
        {% if page != 1 %}
          <a href="?page={{ page - 1 }}{{ '&search=' + search if search else '' }}">[previous]</a>
        {% endif %}
        </div>
        <div class="col-md-4 text-centered">
          [ {{ page }} / {{ total_pages }} ]
        </div>
        <div class="col-md-4 text-right">
        {% if page != total_pages %}
          <a href="?page={{ page + 1 }}{{ '&search=' + search if search else '' }}">[next]</a>
        {% endif %}
        </div>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}
