{% macro breadcrumb(ref, repo, path, path_join) %}
{# TODO: Default branches other than master #}
{% if ref != "master" %}
<span style="margin-right: 1rem">
  <span class="text-muted">ref:</span> {{ ref }}
</span>
{% endif %}
{% if path != [''] %}
<a href="{{url_for("repo.tree",
  owner=repo.owner.canonical_name, repo=repo.name, ref=ref)}}"
>{{repo.name}}</a>{% endif %}/{% for part in path%}{%
  if loop.last %}{{part}}{% else %}<a
    href="{{url_for("repo.tree", owner=repo.owner.canonical_name,
      repo=repo.name, ref=ref,
      path=path_join(*path[:loop.index]))}}"
  >{{part}}</a>/{%
endif %}{% endfor %}
{% endmacro %}

{% macro commit_event(repo, c, commit_time, trim_commit, full_body=False, refs={}) %}
<div class="event">
  <div>
    <a
      href="#"
      title="{{c.id.hex}}"
    >{{c.id.hex[:8]}}</a> &mdash;
    <a href="#">{{c.author.name}}</a>
    <a
      id="log-{{c.id}}"
      href="#log-{{c.id}}"
      class="text-muted pull-right"
    >{{ commit_time(c) | date }}</a>
    {% if c.id.hex in refs %}
    {% for ref in refs[c.id.hex] %}
    <a
      class="ref {{ref.type}}
        {{"annotated" if ref.type == "tag" and ref.tag.message else ""}}"
      {% if ref.type == "branch" %}
      href="{{url_for("repo.tree",
        owner=repo.owner.canonical_name, repo=repo.name, ref=ref.name)}}"
      {% else %}
      {# TODO: Annotated tag page #}
      href="#"
      {% endif %}
    >{{ref.name}}</a>
    {% endfor %}
    {% endif %}
  </div>
  {% if full_body %}
  <pre
    style="padding-left: 0; padding-right: 0; background: transparent"
  >{{c.message}}</pre>
  {% else %}
  <pre
    style="padding-left: 0; padding-right: 0; background: transparent"
  >{{ trim_commit(c.message) }}</pre>
  {% endif %}
</div>
{% endmacro %}
