{% extends "git.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-6">
      {% if len(repos) != 0 %}
      <h3>Manage repositories</h3>
      <dl>
        {% for repo in repos %}
          <dt>
            <a href="/~{{current_user.username}}/{{repo.name}}">
              ~{{current_user.username}}/{{repo.name}}
            </a>
          </dt>
          <dd>
            <a href="#">Edit details</a>
            &mdash;
            <a href="#">Manage collaborators</a>
            &mdash;
            <a href="#">Delete repository</a>
          </dd>
        {% endfor %}
      </dl>
      {% endif %}
      <h3>Create new repository</h3>
      <form method="POST" action="/manage/create">
        <div class="form-group {{valid.cls("repo-name")}}">
          <label for="client-name">Name</label>
          <input
            type="text"
            name="repo-name"
            id="repo-name"
            class="form-control"
            value="{{ repo_name or "" }}" />
          {{valid.summary("repo-name")}}
        </div>
        <fieldset class="form-group">
          <legend>Visibility</legend>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="repo-visibility"
                value="public"
                title="Publically visible and listed on your profile"
                checked> Public
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="repo-visibility"
                title="Visible to anyone with the link, but not shown on your profile"
                value="unlisted"> Unlisted
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="repo-visibility"
                title="Only visible to you and your collaborators"
                value="private"> Private
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-default">Create</button>
      </form>
    </section>
  </div>
</div>
{% endblock %}
