{% extends "git.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-6">
      <h3 id="create">Create new repository</h3>
      <form method="POST" action="/manage/create">
        <div class="form-group {{valid.cls("repo-name")}}">
          <label for="repo-name">Name</label>
          <input
            {% if another %}
            autofocus
            {% endif %}
            type="text"
            name="repo-name"
            id="repo-name"
            class="form-control"
            value="{{ repo_name or "" }}" />
          {{valid.summary("repo-name")}}
        </div>
        <div class="form-group {{valid.cls("repo-description")}}">
          <label for="repo-description">Description</label>
          <input
            type="text"
            name="repo-description"
            id="repo-description"
            class="form-control"
            value="{{ repo_description or "" }}" />
          {{valid.summary("repo-description")}}
        </div>
        <fieldset class="form-group">
          <legend>Visibility</legend>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="repo-visibility"
                value="public"
                title="Publically visible and listed on your profile"
                checked> Public
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="repo-visibility"
                title="Visible to anyone with the link, but not shown on your profile"
                value="unlisted"> Unlisted
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="repo-visibility"
                title="Only visible to you and your collaborators"
                value="private"> Private
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-default">Create</button>
        <label class="form-check-label" style="margin-left: 0.5rem">
          <input
            class="form-check-input"
            type="checkbox"
            name="another"
            style="position: relative; top: 2px;"
            {% if another %}
            checked
            {% endif %}> Create another?
        </label>
      </form>
      {% if len(repos) != 0 %}
      <h3>Manage repositories</h3>
      <dl>
        {% for repo in repos %}
          <dt>
            <a href="/~{{current_user.username}}/{{repo.name}}">
              ~{{current_user.username}}/{{repo.name}}
            </a>
          </dt>
          <dd>
            {% if not repo.description %}
            <em>This repository has no description</em>
            {% else %}
            {{ repo.description }}
            {% endif %}
            <br />
            <a href="#">Edit details</a>
            &mdash;
            <a href="#">Manage collaborators</a>
            &mdash;
            <a href="#">Delete repository</a>
          </dd>
        {% endfor %}
      </dl>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}
