{% extends "git.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-4">
      <h2>
        ~{{ user.username }}
      </h2>
      {% if profile.get("location") %}
      <p>{{profile["location"]}}</p>
      {% endif %}
      {% if profile.get("url") %}
      <p>
        <a href="{{profile["url"]}}" target="_blank">
          {{profile["url"]}}
        </a>
      </p>
      {% endif %}
      {% if profile.get("bio") %}
      <p>{{profile["bio"]}}</p>
      {% endif %}
    </section>
    <section class="col-md-8">
      {% if len(repos) == 0 %}
      <p>This user has no repositories.</p>
      {% else %}
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      {% for repo in repos %}
        <h4>
          <a href="/~{{current_user.username}}/{{repo.name}}">
            ~{{current_user.username}}/{{repo.name}}
          </a>
        </h4>
        {% if repo.description %}
        <p>{{ repo.description }}</p>
        {% endif %}
        <p>
          <em class="text-muted">Last updated {{ repo.updated | date }}</em>
        </p>
      {% endfor %}
      {% endif %}
      {% if total_pages > 1 %}
      {% if page != 1 %}
      <a href="?page={{ page - 1 }}{{ '&search=' + search if search else '' }}" class="pull-left">[previous]</a>
      {% else %}
      <span class="pull-left" style="color: transparent">[previous]</span>
      {% endif %}
      {% if page != total_pages %}
      <a href="?page={{ page + 1 }}{{ '&search=' + search if search else '' }}" class="pull-right">[next]</a>
      {% else %}
      <span class="pull-right" style="color: transparent">[previous]</span>
      {% endif %}
      <div class="text-centered">
        [ {{ page }} / {{ total_pages }} ]
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}
